.footer-container {
    width: 100vw;
    height: 60px;
    background-color: darkkhaki;
    color: black;
    text-align: center;
    padding: 10px 20px;
  }
  
  .footer-text {
    margin: 10px;
    font-size: 17px;
  }
  